*{
    margin: 0;
    padding: 0;
}
.box{
    width: 1000px;
    margin:0 auto;
    background-color:#F7F7F7; 
}
.logo{
    width:1000px;

}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
#menu{
    height:45px;
    line-height:45px;
    background:#C60;
    padding-left:35px;
}
#menu li{
     float:left;
     width:180px;
}
#menu li a{
     display:block;
     padding:0 13px;
     color:#F7F7F7;
     text-decoration:none;
     font-size:14px; 
     font-weight:bold;
}
#menu li a:hover{
     color:#000;
      background-color:#FC9;
}
#menu ul li {
	float: none;
}
#menu ul{
	display: none;
	position: absolute;
}
#menu li {
	position: relative;
}
#menu li:hover ul {
	background-color: #9e2d16;
	display: block;
}
p{
    margin:15px;
    padding:0px 10px;
}
.box01 {
    height: 425px;
}
.box02 {
    float: left;    
}
.box03{
    height: 425px;
    float: left;
}
.box04{
    height:40px;
    text-align: center;
}
.box05{
    height: 425px;
}
.box06{
    height: 563px;
}
.box07{
    height: 425px;
}
.box08{
    height: 425px;
}
.box09{
    height: 40px;
    text-align: center;
}
.box10{
    height: 425px;
    text-align: center;
}
#footer{
    margin:0 auto;
    height:40px;
    width:1000px;
    background-color: #C60;
    background-repeat:repeat-x;
    font-size:14px;
    font-weight:lighter;
    text-align:center;
    padding-top:15px;
    }